@import '../../index.scss';

.cat-card-border {
  border: 0.3em solid $blue-cool-30v;
  border-radius: 2em;
}

.cat-card-border-active {
  border: 0.3em solid $indigo-50;
  border-radius: 2em;
}

.cat-card-button {
  min-width: 7.6em;
  max-width: 7.6em;
  min-height: 8em;
  margin-bottom: 1em;
  padding: 0 0;
}

.cat-card-i {
  display: block;
  padding-top: 0.2em;
}

.cat-card-div {
  align-items: center;
  word-wrap: break-word;
  white-space: pre-wrap;
  flex-wrap: wrap;
}
