# For developmemt purposes, specify configuration variables here
# Rename this file to .env, for dotenv to work (https://github.com/motdotla/dotenv)
DB_URI='put_uri_here'
PORT=8080
SESSION_SECRET='lol cats'
