@import '../../index.scss';
@import '../auth/Login.scss';

.admin-container {
    padding-top: 53px;
    float: left;
    width: 20%;
    display: flex;
    flex-flow: column;
    align-content: center;
    height:100vh;
    background-color: #FBFBFB;
    border-right: 1px solid #dbdbdb;
}
