@import '../../../index.scss';
@import '../Menu.scss';
@import '../ProviderList.scss';
@import '../Search.scss';

.subcat-provider-div {
  white-space: pre-wrap;
}

.subcat-provider-h5 {
  color: black;
  font-weight: bold;
  width: 100%;
}

.subcat-provider-address {
  color: black;
}
