@import '../../../index.scss';


.toplevel-container {
  max-width: 30em;
  margin: auto auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.toplevel-row {
  margin: auto;
  justify-content: center;
  margin-bottom: 1em;
}

.toplevel-col {
  padding: 0 0;
}
