@import '../../index.scss';
@import './Menu.scss';
@import './Search.scss';


/* Mobile Styles */
@media only screen and (max-width: 767px) {
    .description {
        margin-top: 1rem;
        text-align: center;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 1024px) {
    .description {
        margin-top: 1rem;
        text-align: left;
    }
  }
  
  @media only screen and (max-width: 767px) and (min-width: 426px) {
    .description {
        margin-top: 1rem;
        text-align: center;
    }
  }
  
  
  
  /* Desktop Styles */
  @media only screen and (min-width: 1025px) {
    .description {
        margin-top: 1rem;
        text-align: left;
    }
  }
