@import '../../index.scss';
@import './Menu.scss';
@import './Search.scss';

/* Mobile Styles */
@media only screen and (max-width: 767px) {
    .mobile-lang-sub {
        display: block !important;
        margin-bottom: .25rem !important;
    }
    .mobile-p-btn{
        display: inline-block !important;
    }
    .elig-body {
        padding-bottom: 0 !important;
    }
    .elig-col {
        padding-right: 0rem !important;
        margin-bottom: 1rem !important;
    }
    .elig-col-con{
        flex-direction: column !important;
        padding-bottom: 0 !important;
        border: none !important;
    }
    .main-title{
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        display: block !important;
    }
    #main-info .card-text {
        padding-left: 0;
        padding-right: 0;
    }
    .top-right{
        display: none !important;
    }
    .indiv-con{
        margin-top: 0 !important;
    margin-bottom: 0 !important;
    }
    .top-left{
        width: 100% !important;
        padding-left: 0 !important;
        float: left !important;
        padding-right: 0 !important;
    }
    .mobile-description-title{
        display: none !important;
    }
    .desktop-hours-card {
        display: none !important;
    }
    .hours-left{
        width: 100% !important;
        padding-left: 0 !important;
    }
    .hours-right{
        width: 100% !important;
        padding-left: 0 !important;
    }
    .united-way-mobile {
        color: #1c6da2;
        float: right;
        width: 100%;
        text-align: right;
        font-size: small;
        margin-bottom:1rem;
        display: block !important;
    }
    .united-way {
        color: #1c6da2;
        float: right;
        width: 100%;
        text-align: right;
        font-size: small;
        margin-bottom:1.5rem;
        display: none;
    }
   
    #right {
        width: fit-content;
        display: block;
        margin-top: 0rem;
        margin-bottom: 0;
        //min-width: 30%;
        //max-width: 40%;
        
    }

    .mobile-lang {
        margin-bottom: 0;
    }

    .provider {
        margin-top: 134px !important;
        color: black;
        padding: 0;
        background-color: #FBFBFB;
    }

    #main-info {
        border: none;
        box-shadow: none;
        background-color: #FBFBFB;
        padding-top: 0;
        padding-bottom: 0;
    }

    .maps {
        margin-left: 0rem;
    }

    .indiv-con {
        box-shadow: none !important;
        padding: 1rem;
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin-top: 0 !important;
        border-radius: 0 !important;
    }

    .mobile-indiv-nav {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 16px;
        background: #fbfbfb;
    }

    .first-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 0;
        font-size: 15px;
        //margin-left: auto;
        //margin-right: auto;
        //margin-bottom:1rem;
    }

    .indiv-nav-buttons {
        color: black;
        font-size: 15x;
        padding: 6px 0;
    }

    .indiv-nav-buttons:focus {
       text-decoration: none;
       color: #065a90;
    }

    .indiv-nav-buttons:hover{
        text-decoration: none;
        color: #065a90;
     }


    .active {
        color: #065a90;
        font-weight: 600;
        border-bottom: 2px solid #065a90;
        border-radius: 0;
    }

    .desktop-indiv {
        display: none;
    }

    .mobile-indiv{
        display: block;
    }

    .hours-mobile {
        display: none;
    }


    .description-title {
        color: #044b69;
        font-weight: 400;
        font-size: 20px;
        padding: 20px !important;
        padding-top: .5rem !important;
    }


    .united-way {
        color: #1c6da2;
        float: right;
        width: 100%;
        text-align: right;
        font-size: 11px;
        margin-bottom:.5rem;
    }

    .indiv-container {
        padding-bottom: 0 !important;
        background-color: #FBFBFB;
    }

    .mobile-indiv .card-body {
        padding-bottom: 2rem;
    }

    .provider-buttons-con {
        display: flex;
        margin-top: 1rem !important;
        margin-bottom: 0 !important;
        //justify-content: space-around;
        
    }

    .provider-buttons {
        margin-top:.5rem;
        margin-bottom:0rem;
        font-size: 15px;
        text-align: center !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-top: .2rem !important;
        //max-width: 50%;
    }

    .indivp-name {
        font-weight: 400;
        margin-bottom: 0rem;
        text-align: left;
    }

    .subtitle {
        font-size: 14px;
        color: black;
        font-weight: 600;
        margin-bottom: 2rem;
        line-height: 2;
    }

    .translation {
        width: 100%;
        font-size: 15px;
    }

    .bus {
        font-size: 14px;
    
    }

    #left {
        width: 100% !important;
        max-width: 100%;
    }

    .call {
        margin-right: 1rem;
    }

    .website {
        margin-right: 1rem;
    }
    .map {
        height: 30vh;
    background: white;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 1024px) {
    .map {
        height: 30vh;
    background: white;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
    }
    .elig-col {
        padding-right: 1rem !important;
    }
    .united-way-mobile{
        display: none;
    }
    .call {
        display: none;
    }

    #right {
        width: fit-content;
        //min-width: 30%;
        //max-width: 40%;
        
    }
    .mobile-box-search {
        display: block !important;
    }

    .provider {
        margin-top: 130px !important;
        color: black;
        background-color: #FBFBFB;
    }

    #main-info {
        border: 1px solid #1E83C6;
        
    }

    .hours-con {
        display: none;
    }

    .mobile-indiv-nav {
        display: none;
        background: #fbfbfb;
    }

    .mobile-indiv {
        display: none;
    }

    .first-card {
        display: inline-flex;
        justify-content: space-around;
        padding-bottom: 0 ;
        //margin-left: auto;
        //margin-right: auto;
        //margin-bottom:1rem;
    }


    .description-title {
        color: #065a90;
        font-weight: 400;
        padding: 20px !important;
    }


    .united-way {
        color: #1c6da2;
        float: right;
        width: 100%;
        text-align: right;
        font-size: small;
        margin-bottom:1.5rem;
    }

    .website {
        margin-right: 1rem;
    }
    .provider-buttons {
        margin-top:.5rem;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    
    .indivp-name {
        font-weight: 400;
        text-align: left;
        margin-bottom: 0rem;
    }

    .subtitle {
        font-size: .9rem;
        color: black;
        font-weight: 600;
        margin-bottom: 2rem;
        line-height: 2;
    }

    .translation {
        width: 100%;
        font-size: medium;
        padding-left: 1rem;
    }

    .bus {
        font-size: .9rem;
        padding-left: 0 !important;
    
    }

    #left {
        width: fit-content;
        //margin-right: .5rem;
        //min-width: 50%;
        max-width: 60%;
    }
    .indiv-container {
        width: 100% !important;
    }
    .indiv-con {
        padding: 1rem;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    #main-info .card-text {
        padding-left: 20px;
        padding-right: 20px;
    }
    #right {
        width: 50%;
        //min-width: 30%;
        //max-width: 40%;
        border-left: 1px solid #9a9a9a;
        padding-bottom: 2rem;
        padding-left: 2rem;
        
    }
}
    
@media only screen and (max-width: 767px) and (min-width: 426px) {
    .mobile-p-btn{
        display: inline-block !important;
        width: 100%;
    }
    #left {
        width: 100% !important;
        max-width: 100% !important;
    }

    .call {
        display: inline-block;
        margin-right: 1.5rem;
    }

    .website {
        margin-right: 1.5rem;
    }

    .hours-con {
        display: block;
    }

    #right {
        width: fit-content;
        display: none;
        //min-width: 30%;
        //max-width: 40%;
        
    }

    .provider {
        margin-top: 110px !important;
        color: black;
        padding: 0;
        background-color: white !important;
    }

    #main-info {
        border: none;
        box-shadow: none;
        background-color: #FBFBFB;
        padding-top: 0;
        padding-bottom: 0;
    }

    .maps {
        margin-left: 0rem;
    }

    .indiv-con {
        box-shadow: none !important;
        padding: 1rem;
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin-top: 0 !important;
        border-radius: 0 !important;
    }

    .mobile-indiv-nav {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        background: #fbfbfb;
    }

    .first-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 0 !important;
        font-size: 15px;
        //margin-left: auto;
        //margin-right: auto;
        //margin-bottom:1rem;
    }

    .indiv-nav-buttons {
        color: black;
        font-size: 15px;
    }

    .indiv-nav-buttons:focus {
       text-decoration: none;
       color: #065a90;
    }

    .indiv-nav-buttons:hover{
        text-decoration: none;
        color: #065a90;
     }


    .active {
        color: #065a90;
        font-weight: 600;
        border-bottom: 2px solid #065a90;
        border-radius: 0;
    }

    .desktop-indiv {
        display: none;
    }

    .mobile-indiv{
        display: block;
    }

    .hours-mobile {
        display: none;
    }


    .description-title {
        color: #044b69;
        font-weight: 400;
        font-size: 20px;
        padding: 20px !important;
        padding-top: .5rem !important;
    }


    .united-way {
        color: #1c6da2;
        float: right;
        width: 100%;
        text-align: right;
        font-size: 11px;
        margin-bottom:.5rem;
    }

    .indiv-container {
        padding-bottom: 0 !important;
        background-color: white !important;
    }

    .mobile-indiv .card-body {
        padding-bottom: 2rem;
    }

    .provider-buttons-con {
        display: flex;
        //justify-content: space-between;
        
    }
    .provider-buttons-con {
        display: flex;
        margin-top: 1rem !important;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0!important;
        //justify-content: space-around;
        
    }

    .provider-buttons {
        margin-top:.5rem;
        margin-bottom:0rem;
        font-size: 15px;
        text-align: center !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-top: .2rem !important;
        //max-width: 50%;
    }
    

    
    .indivp-name {
        font-weight: 400;
        margin-bottom: 0rem;
        text-align: left;
    }

    .subtitle {
        font-size: 14px;
        color: black;
        font-weight: 600;
        margin-bottom: 2rem;
        line-height: 2;
    }

    .translation {
        width: 100%;
        font-size: 15px;
    }

    .bus {
        font-size: 14px;
        padding-left: 0 !important;
    
    }
    #main-info {
        margin-bottom: 0 !important;
    }
    .first-card{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
}



/* Desktop Styles */
@media only screen and (min-width: 1025px) {
    .call {
        display: none;
    }
    #right {
        width: 50%;
        //min-width: 30%;
        //max-width: 40%;
        border-left: 1px solid #9a9a9a;
        padding-bottom: 2rem;
        padding-left: 2rem;
        
    }

    .provider {
        padding-top: 110px !important;
        margin-top: 0px !important;
        color: black;
        border-right: none !important;
        font-size: medium;
    }

    #main-info {
        border: 1px solid #1E83C6;
        
    }

    .hours-con {
        display: none;
    }

    .mobile-indiv-nav {
        display: none;
    }

    .mobile-indiv {
        display: none;
    }

    .first-card {
        display: inline-flex;
        padding-bottom: 0 !important;
        //justify-content: space-around;
        //margin-left: auto;
        //margin-right: auto;
        //margin-bottom:1rem;
    }


    .description-title {
        color: #065a90;
        font-weight: 400;
        padding: 20px !important;
    }


    .united-way-mobile {
        color: #1c6da2;
        float: right;
        width: 100%;
        text-align: right;
        font-size: small;
        margin-bottom:1.5rem;
        display: none;
    }

    .united-way{
        color: #1c6da2;
        //float: right;
        width: 100%;
        //text-align: right;
        font-size: medium;
        margin-bottom:1.5rem;
    }

    .website {
        margin-right: 2rem;
    }

    .provider-buttons {
        margin-top:.5rem;
    }
    
    .indivp-name {
        font-weight: 600;
        font-size: x-large;
        margin-bottom: 0rem;
    }

    .subtitle {
        font-size: medium;
        color: black;
        font-weight: 600;
        margin-bottom: 2rem;
        line-height: 2;
    }

    .translation {
        width: 100%;
        font-size: medium;
        padding-left: 20px;
    }

    .bus {
        font-size: .9rem;
        padding: 0 !important;
        margin:0;
    
    }
    #left {
        width: 50%;
        //margin-right: .5rem;
        //min-width: 50%;
       // max-width: 60%;
       padding-bottom: 2rem;
    
    }
    .indiv-container {
        width: 100% !important;
    }
    .indiv-con {
        padding: 1rem;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    #main-info .card-text {
        padding-left: 20px;
        padding-right: 20px;
    }

}






.btn-info {
    background-color: #074b69;
    border-color: #074b69;
}


.hours-card {
    width: 100%;
    padding-top: 1rem;
    
    border-top: 1px solid #9a9a9a;
}

.top-right {
    min-width: 50%;
    display: flex;
    padding-left: 4rem !important;

}

.add-sched-info {
    padding-bottom: 1rem;
}

.top-left {
    margin-bottom: 0;
}

.hours-right {
    width: 50%;
    //padding-bottom: 2rem;
    padding-left: 2rem;

}

.hours-left {
    width: 50%;
    //padding-bottom: 2rem;
    padding-left: 2rem;
}

.mobile-lang-sub {
    display: none;
}



.top-hours-con {
    display: flex;
}



.col {
    float: left;
}




.card-body {
    padding-top: 0;
}



.card-title {
    margin-bottom: 0;
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.elig-col {
    //max-width: 33%;
    padding-right: 6rem;
}

.elig-col-con {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid #dbdbdb;
}


.appt {
    color: black;
}

.provider-buttons{
    background-color: transparent;
    color: #1E83C6;
    border-color: #1E83C6;
    padding-left: 3rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    font-size: 14px;
    padding-right: 3rem;
}



.provider-buttons:hover {
    background-color: transparent;
    color: #17689e;
    border-color: #17689e;
    
}

.provider-buttons:active {
    background-color: transparent !important;
    color: #17689e;
    border-color: #17689e !important;
}

.provider-buttons:active:hover {
    background-color: transparent !important;
    color: #17689e;
    border-color: #17689e !important;
}

.provider-buttons:focus{
    background-color: transparent !important;
    color: #17689e;
    border-color: #17689e!important;
}

.eligibility-card {
    
    
}
.mobile-p-btn{
    display: none;
}