@import '../../index.scss';


/* Mobile Styles */
@media only screen and (max-width: 767px) {
  .desktop-top {
    display: none;
  }
  .filter-form{
    padding-left: 1rem;
    padding-right: 1rem;

  }
  hr {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }

  .mobile-text-input {
    padding-left: 0;
    padding-right: 0;
  }

  .menu {
    //height: 100vh;
    width: 100vw;
    margin-top: 130px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    border: none;
    border-color: 1px solid #DBDBDB;
    //@debug: 1px solid #DBDBDB;
    border-radius: 0;
    z-index:10;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    background-color: #FDFDFD;
    padding-top: 1em;
    overflow: scroll;
    margin-bottom: 0;
  }
  .menu-title {
    padding: 1em auto;
    font-size: 18px;
    padding-bottom: 1em;
  }

  .title-title {
    padding-top: 1rem;
    padding-bottom: 0rem;
  }
  .top-title {
    padding-top: .5rem !important;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
  }
  .title-links {
    width: 100%;
    font-size: 1em;
  }
  
  .top-link {
    margin-top: .5em;
  }
  .phrase {
    bottom: 0em; 
    text-align: center; 
    margin-top:1em;
    font-size: 1em;
    color:black;

    padding-bottom: 2rem;

  }
  .resourceButton{
    font-size: 16px !important;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .desktop-top {
    display: none;
  }



  .menu {
    //height: 100vh;
    min-height: 92vh;
    width: 100vw;
    margin-top: 133px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    border: none;
    //@debug: 1px solid #DBDBDB;
    border-radius: 0;
    z-index:1050;
    position: absolute;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #FDFDFD;
    padding-top: 1em;
    overflow: scroll;
    margin-bottom: 0;
  }
  .menu-title {
    padding: 1em auto;
    font-size: 18px;

    padding-bottom: 1em;
  }

  .title-title {
    padding-top: 1rem;
    padding-bottom: .5rem;
  }
  .top-title {
    display:block;
    padding-top: .5rem !important;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
  }
  .title-links {
    width: 100%;
    font-size: 1em;
  }
  
  .top-link {
    margin-top: .5em;
  }
  .phrase {
    bottom: 0em; 
    text-align: center; 
    margin-top:1em;
    font-size: 1em;
    color:black;

    padding-bottom: 2rem;

  }
}


@media only screen and (max-width: 767px) and (min-width: 426px) {

  .menu {
    //height: 100vh;
    width: 100vw;
    margin-top: 133px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    border: none;
    //@debug: 1px solid #DBDBDB;
    border-radius: 0;
    z-index:10;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    background-color: #FDFDFD;
    padding-top: 1em;
    overflow: scroll;
    margin-bottom: 0;
  }
  .menu-title {
    padding: 1em auto;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    font-size: 18px;
    display: block !important;
    padding-bottom: 1em;
    padding-left: 1rem !important;
  }
}


/* Desktop Styles */
@media only screen and (min-width: 1025px) {
  .desktop-top {
    display: block;
  }


  .menu {

    height: 90%;
    margin-bottom: auto;
    width: 20%;
    margin-top: 101px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    border: none;
    border-right: 1px solid #DBDBDB;
    border-radius: 0;
    z-index:0;
    position: fixed;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FDFDFD;
    padding-top: 1em;
  }

  .menu-container {
    position:fixed; 
    z-index: 0;
  }
  .menu-title {
    padding: 1em auto;
    font-size: 1.2em;
    color: #20668F;
    padding-bottom: 1em;
  }
  .title-title {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
  }
  .top-title {
    padding-top: 0rem !important;
    padding-bottom: .5rem;
  }
  .title-links {
    width: 100%;
    font-size: 1em;
  }
  
  .top-link {
    margin-top: .5em;
  }
  .phrase {
    bottom: 0em; 
    text-align: center; 
    margin-top:1em;
    font-size: 1em;
    color:black;
    padding: 0;
    padding-bottom: 2rem;

  }
}




.exit-container {
    width:25%;
    position:fixed;
    margin-top: 53px;
    z-index:100000;
}

.menu-buttons {
    border: none;
    background:none;
    outline: none;
}

.exit {
    float:right;
}

.resourceButton {
  border: none;
  width: 25%;
  color: #1f60a5;
  margin: .5em;
  font-size: 18px;
}





.menuButton {
    border-radius: 20px;
    color: $blue-cool-70v;
    border-color: $blue-cool-70v;
    border-width: 2px;
    width: 25%;
    font-size: 18px;
    margin: .5em;
}

.menuButton:hover {
  color: $white-0;

  background-color: $blue-cool-70v !important;
  border-color: $blue-cool-70v !important;
  
}

.menuButton:active {
  color: $white-0;
  background-color: $blue-cool-70v !important;
  border-color: $blue-cool-70v !important;
  
}

.resourceButton:hover {
  color: #28485A !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.resourceButton:active {
  color:#28485A !important;
  background-color: transparent !important;
  border-color: transparent !important;
}


.covid {
    width: 80%;
    margin: .5em;
    border-radius: 8px;
    margin-top: 0;
}


  
.menu-name {
    margin-left: .55em;
}

#search-widget {
  background-color: #20668F;

}

#clear-widget {
  color: #d63e02;
}



.menu-hotline {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}

.cookies-row {
  background-color: #f3f3f3;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  
}
.cookies {
  padding-right: 1rem;
  padding-left: 1rem;
  color: black;
  padding-bottom: 1rem;
}

.cookies-btn {
  padding-right: 1rem;
  padding-left: 1rem;
}

.clear-cookies{
  background-color: transparent;
  color: #1E83C6;
  border-color: #1E83C6;
  padding-left: 3rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: 14px;
  padding-right: 3rem;
}



.clear-cookies:hover {
  background-color: transparent;
  color: #17689e;
  border-color: #17689e;
  
}

.clear-cookies:active {
  background-color: transparent !important;
  color: #17689e;
  border-color: #17689e !important;
}

.clear-cookies:active:hover {
  background-color: transparent !important;
  color: #17689e;
  border-color: #17689e !important;
}

.clear-cookies:focus{
  background-color: transparent !important;
  color: #17689e;
  border-color: #17689e!important;
}

.cookies-cleared {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.filter {
  margin-bottom: 1rem !important;
}
