@import '../../index.scss';


/* Mobile Styles */
@media only screen and (max-width: 767px) {
  

  .menu {
    //height: 100vh;
    width: 100vw;
    margin-top: 89px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    border: none;
    //@debug: 1px solid #DBDBDB;
    border-radius: 0;
    z-index:1050;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    background-color: #FDFDFD;
    padding-top: 1em;
    overflow: scroll;
    margin-bottom: 0;
  }
  .menu-title {
    padding: 1em auto;
    font-size: 18px;
    padding-bottom: 1em;
  }

  .title-title {
    padding-top: 1rem;
    padding-bottom: .5rem;
  }
  .top-title {
    padding-top: .5rem !important;
  }
  .title-links {
    width: 100%;
    font-size: 1em;
  }
  
  .top-link {
    margin-top: .5em;
  }
  .phrase {
    bottom: 0em; 
    text-align: center; 
    margin-top:1em;
    font-size: 1em;
    color:black;

    padding-bottom: 2rem;

  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .menu {
    //height: 100vh;
    min-height: 92vh;
    width: 100vw;
    margin-top: 89px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    border: none;
    //@debug: 1px solid #DBDBDB;
    border-radius: 0;
    z-index:1050;
    position: absolute;
    padding-left: 25%;
    padding-right: 25%;
    background-color: #FDFDFD;
    padding-top: 1em;
    overflow: scroll;
    margin-bottom: 0;
  }
  .menu-title {
    padding: 1em auto;
    font-size: 18px;

    padding-bottom: 1em;
  }

  .title-title {
    padding-top: 1rem;
    padding-bottom: .5rem;
  }
  .top-title {
    padding-top: .5rem !important;
  }
  .title-links {
    width: 100%;
    font-size: 1em;
  }
  
  .top-link {
    margin-top: .5em;
  }
  .phrase {
    bottom: 0em; 
    text-align: center; 
    margin-top:1em;
    font-size: 1em;
    color:black;

    padding-bottom: 2rem;

  }
}


@media only screen and (max-width: 767px) and (min-width: 426px) {

  .menu {
    //height: 100vh;
    width: 100vw;
    margin-top: 89px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    border: none;
    //@debug: 1px solid #DBDBDB;
    border-radius: 0;
    z-index:1050;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    background-color: #FDFDFD;
    padding-top: 1em;
    overflow: scroll;
    margin-bottom: 0;
  }
  .menu-title {
    padding: 1em auto;
    font-size: 18px;

    padding-bottom: 1em;
  }
}


/* Desktop Styles */
@media only screen and (min-width: 1025px) {

  .menu {

    height: 100%;
    margin-bottom: auto;
    width: 20%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    border: none;
    border-right: 1px solid #DBDBDB;
    border-radius: 0;
    z-index:0;
    position: fixed;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #FDFDFD;
    padding-top: 1em;
  }

  .menu-container {
    position:fixed; 
    z-index: 0;
  }
  .menu-title {
    padding: 1em auto;
    font-size: 1.2em;
    color: #20668F;
    padding-bottom: 1em;
  }
  .title-title {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
  }
  .top-title {
    padding-top: 1rem !important;
    padding-bottom: .5rem;
  }
  .title-links {
    width: 100%;
    font-size: 1em;
  }
  
  .top-link {
    margin-top: .5em;
  }
  .phrase {
    bottom: 0em; 
    text-align: center; 
    margin-top:1em;
    font-size: 1em;
    color:black;

    padding-bottom: 2rem;

  }
}




.exit-container {
    width:25%;
    position:fixed;
    margin-top: 53px;
    z-index:100000;
}

.menu-buttons {
    border: none;
    background:none;
    outline: none;
}

.exit {
    float:right;
}

.resourceButton {
  border: none;
  width: 25%;
  color: #1f60a5;
  margin: .5em;
  font-size: 18px;
}





.menuButton {
    border-radius: 20px;
    color: $blue-cool-70v;
    border-color: $blue-cool-70v;
    border-width: 2px;
    width: 25%;
    font-size: 18px;
    margin: .5em;
}

.menuButton:hover {
  color: $white-0;

  background-color: $blue-cool-70v !important;
  border-color: $blue-cool-70v !important;
  
}

.menuButton:active {
  color: $white-0;
  background-color: $blue-cool-70v !important;
  border-color: $blue-cool-70v !important;
  
}

.resourceButton:hover {
  color: #28485A !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.resourceButton:active {
  color:#28485A !important;
  background-color: transparent !important;
  border-color: transparent !important;
}


.covid {
    width: 80%;
    margin: .5em;
    border-radius: 8px;
    margin-top: 0;
}


  
.menu-name {
    margin-left: .55em;
}




.menu-hotline {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}

