@import '../../index.scss';

/* Mobile Styles */
@media only screen and (max-width: 767px) {

  .nav-container { 
    width: 100vw; 
    position:fixed; 
    z-index: 2000; 
    top:0;
  }

  .sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    z-index: 1020;
  }

  .title {
    font-weight: 400; 
    margin-left: .75rem;
    font-size: 16px;
    margin: 8px;
  }

  img {
    padding-right: 0em;
    margin-left: .5rem;
    height: 20;
  }

  .nav-i {
    font-size: 1.2em;
    vertical-align: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-nav-buttons {
    border: none;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .25rem;
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  .mobile-nav-buttons:focus {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .mobile-nav-buttons:active {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .mobile-nav-buttons:active:focus {
    box-shadow: none !important;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .mobile-nav-buttons:hover {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }

  #feedback {
    background: #159a8d;
    padding: 6px 16px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    text-align: center;
    width: 100%;
    position: fixed;
    margin-top: 56px;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 1024px) {
  .ipad {
    display: block !important;
  }
  .sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    z-index: 1020;
  }

  .nav-container { 
    width: 100vw; 
    position:fixed; 
    z-index: 2000; 
    top:0;
  }

  .title {
    font-weight: 400; 
    margin-left: .75rem;
    font-size: 16px;
    margin: 8px;
  }

  img {
    padding-right: 0em;
    margin-left: .5rem;
    height: 20;
  }

  .nav-i {
    font-size: 1.2em;
    vertical-align: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-nav-buttons {
    border: none;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .25rem;
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  .mobile-nav-buttons:focus {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .mobile-nav-buttons:active {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .mobile-nav-buttons:active:focus {
    box-shadow: none !important;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .mobile-nav-buttons:hover {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }

  #feedback {
    background: #159a8d;
    padding: 6px 16px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    text-align: center;
    width: 100%;
    position: fixed;
    margin-top: 56px;
  }
}


@media only screen and (max-width: 767px) and (min-width: 426px) {
  .nav-container { 
    width: 100vw; 
    position:fixed; 
    z-index: 2000; 
    top:0;
  }

  .title {
    font-weight: 400; 
    margin-left: .75rem;
    font-size: 16px;
    margin: 8px;
  }

  img {
    padding-right: 0em;
    margin-left: .5rem;
    height: 20;
  }

  .nav-i {
    font-size: 1.2em;
    vertical-align: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-nav-buttons {
    border: none;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .25rem;
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  .mobile-nav-buttons:focus {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .mobile-nav-buttons:active {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .mobile-nav-buttons:active:focus {
    box-shadow: none !important;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .mobile-nav-buttons:hover {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }

  #feedback {
    background: #159a8d;
    padding: 6px 16px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    text-align: center;
  }
}


/* Desktop Styles */
@media only screen and (min-width: 1025px) {
  .mobile-nav-buttons {
    display: none;
  }
  #mobile-menu{
    display: none;
  }
  .nav-container { 
    width: 100%; 
    position:fixed; 
    z-index: 100; 
    top:0;
  }

  .title {
    font-weight: 400; 
    margin-left: .75rem;
  }

  img {
    padding-right: 0.25em;
    margin-left: .75rem;
  }

  #feedback {
    background: #159a8d;
    padding: 6px 16px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-align: center;
  }

  .navbar{
    //padding-bottom: 0;
  }
}

.navbar-active {
  color: white !important;
  border-bottom: 5px solid #1DC2AE;
}

.nav-link:hover {
  color: #dedede !important;
}


#responsive-navbar-nav {
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  color: #ACACAC ;
}



.mr-auto {
  margin-right: 0 !important;
}

.navbar-brand {
  margin-right: 0;
}

#feedback-link{
  text-decoration: underline;
  color: white;
}


.link-container {
  margin: 0 0; 
  padding: 0 0;

}

.nav-home-brand {
  outline: none;
  text-decoration: none;
}

.nav-home-brand:hover {
  outline: none;
  text-decoration: none;

}

#modal-menu {
  margin: 0 !important;
}

#modal-menu .modal-content {
  border: none !important;
}