@import '../../index.scss';

/* Mobile Styles */
@media only screen and (max-width: 767px) {
    .services {
        color: black;
        margin-top: .5rem;
        width: 100%;
        font-size: 15px;
    }
    .providerName { 
        color: #074b69; 
        font-weight: 400;
        margin-top: .5rem;
        font-size: 18px;
        //width: fit-content;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 1024px) {

  }
  
  @media only screen and (max-width: 767px) and (min-width: 426px) {

  }
  
  
  
  /* Desktop Styles */
  @media only screen and (min-width: 1025px) {
   
  }
  
  .services {
    color: black;
    margin-top: .5rem;
    width: 100%;
}
.providerName { 
    color: #074b69; 
    font-weight: 400;
    margin-top: .5rem;
    //width: fit-content;
}
.tags {
    background: none ; 
    border-radius: 12px ; 
    padding: 2px 12px;
    font-size: 15px;
    vertical-align: sub;
    margin-right: .5rem;
}

#translationTag {
    border: 1.5px solid #676cc8;
}

#costTag {
    border: 1.5px solid #1dc2ae;
}

.demographicsTag {
    border: 1.5px solid #59b9de;
}

.exampleTag {
    background: #dbdbdb;

}

.transFilter {
    background: #676cc8;
    color: white;
}

.demoFilter {
    background: #59b9de;
    color: white;
}

.costFilter {
    background: #1dc2ae;
    color: white;
}

.updated {
    margin-bottom: .5rem;
    font-size: small;
    color: lightslategray;
    width: 100%;
}

.services {
    color: black;
    margin-top: .5rem;
    width: 100%;
}

.providersList {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    margin: 0 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid #dbdbdb;
      
}

.tagsContainer {
    white-space: pre-wrap;
    padding: 12px 20px;
}



.providerCard-container {
    -webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.25);
    margin: 2rem 0;
    margin-bottom: 0;
}