@import '../../index.scss';
@import './Menu.scss';
@import './ProviderList.scss';

/* Mobile Styles */
@media only screen and (max-width: 767px) {
  .menu-title-mobile {
    display: block;
  }
  .hotline-box {
    margin-bottom: 0 !important;
  }
  
  .bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: 0;
    //width: 70% ;
}
  .menu-title-home{
    display: none;
  }  
  .mobile-box-search {
    display: block;
  }
  .desktop-box-search {
    display: none;
  }
  .description-words {
    color: black;
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }
  .dwcont {
    width: 100%;
    padding: .3rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
  }
  .description-words-container {
    display: flex;
    flex-direction: column;
    //height: 220px;
    align-items: flex-start;
    width: 22%;
    //text-align: center;
    justify-content: space-between;
  }
  .bottom-word {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .onelineDescription {
    font-size: 1em; 
    text-align: center;
  }
  #hero-img {
    padding-right: 0em;
    margin-left: 0;
    filter: drop-shadow(1px 3px 5px #888);
    width: 90%;
  }
  .homepage-subtitle-2 {
    font-size: x-large;
    margin-bottom: 1rem;
    text-align: center;
    color: #159a8d;
  }
  .homepage-title {
    margin-top: .5rem;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1.5rem;
  }
  .search-con {
        margin: auto auto;
        //maxWidth: '60em',
        z-index: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        float: right;
        padding-bottom: 3rem;
        min-height: 100vh;
        background-color: white;
    }
    
    .search-form {
        width: 100vw;
        border-bottom : 1px solid #DBDBDB;
        position: relative;;
        z-index:100; 
        margin-top:105px;
        background-color: white;
       
    }

    .body {
        margin-top: 0px; 
        position:relative;
        background-color: #FBFBFB;
        width: 100%;
        padding-top: 0px; 
    }

    .search-form-group {
        display: flex; 
        justify-content: center; 
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    .search-cat {
        //padding-left: 2rem;
        display: flex;
        justify-content: center;
        padding-top: .5rem;
        border-top: 1px solid #dbdbdb;
        margin-bottom: 0;
        font-size: 16px;
        text-align: left;
    }
    .search-cat-con {
        display: block;
        margin-bottom: .25rem;
    }
   
    .searchb {
        margin-top: 0;
        padding-top: 20px;
    }
    .homepage-form {
        width: 100vw;
        border-bottom : 1px solid #DBDBDB;
        position: absolute;
        z-index:100; 
        margin-top:89px;
        background-color: white;
      }
      .descriptionRF {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding: 4rem 1rem;
        margin-left: auto;
        margin-right: auto;
        //width: 90%;
        width: 100%;
        min-height: 75vh;
        border-bottom: 1px solid #DBDBDB;
        display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    }

    .description-box-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
      
      .description-box {
          width: 100%;
          text-align: center;
          //border: 1px solid #adadad;
          //border-radius: 8px;
          //padding: 2rem 2rem;
          margin-bottom: 1rem;
      }

      .extra {
        //padding-bottom: 0;
    }
    .homepage-subtitle {
        margin-bottom: 1rem;
        font-size:1.1em;
        text-align: center;
      }
      .sponsors {
        width:  100px;
        height: 75px;
        object-fit: scale-down;
        margin-right: 0rem;
      }
    
      .sponsor-icons {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          flex-wrap: wrap;
      }
      .sponsor-logos {
        margin-bottom: 4rem;
      }
      .feedback-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
      .feedback-buttons {
        width: 100%;
        padding: .75rem 2rem;
        background-color: #074b69;
        border:none;
        margin-top: 1rem;
      }

      #feedback-right {
        margin-left: 0rem;
      }

      .feedback-rf {
        padding: 4rem 1rem;
      }

      .cat-container {
        border-radius: 8px;
    //color: #074b69;
        border: 1px solid #DBDBDB;
        width: 100%;
        //margin: .5em;
        margin-left: 0;
        padding: 1rem;
      }

      .homeMenuButton {
        width: 100% !important; 
        margin-left: 0;
        margin-top: .75em;
      }
      .sponsor-rf {
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-height: 50vh;
        border-bottom: 1px solid #DBDBDB;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-bottom: 0;
        justify-content: center;
     
    }
    .sponsor-blurb {
      width: 90%;
      margin: 0 auto;
      margin-top: 3rem;
      font-size: medium;
    }
   
  }

  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 1024px) {
    .cat-mobile-container {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
  
    }
    .dwcont {
      width: 100%;
      padding: .3rem;
      position: absolute;
      display: flex;
      justify-content: space-between;
    }
    .menu-title-mobile {
      display: block;
    }
    .hotline-box {
      margin-bottom: 0 !important;
    }
    .bottom-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: .5rem;
      margin-bottom: 0;
      //width: 70% ;
  }
    .menu-title-home{
      display: none;
    }  
    .mobile-box-search {
      display: block;
    }
    .desktop-box-search {
      display: none;
    }
    .description-words {
      color: black;
      font-size: 1rem;
      width: 100%;
      text-align: center;
    }
    .description-words-container {
      display: flex;
      flex-direction: column;
      //height: 220px;
      width: 33%;
      align-items: flex-start;
      //text-align: center;
      justify-content: space-between;
    }
    .bottom-word {
      margin-top: 120px;
      margin-bottom: 50px;
    }
    .onelineDescription {
      font-size: 1em; 
      text-align: center;
    }
    #hero-img {
      padding-right: 0em;
      margin-left: 0;
      filter: drop-shadow(1px 3px 5px #888);
      width: 90%;
    }
    .homepage-subtitle-2 {
      font-size: x-large;
      margin-bottom: 1rem;
      text-align: center;
      color: #159a8d;
    }
    .homepage-title {
      margin-top: 2rem;
      text-align: center;
      font-weight: bold;
      font-size: x-large;
      margin-bottom: 1.5rem;
    }
    .search-con {
        margin: auto auto;
        //maxWidth: '60em',
        z-index: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        float: right;
        padding-bottom: 3rem;
        
    }
    .homepage-form {
      width: 100vw;
      border-bottom : 1px solid #DBDBDB;
      position: absolute;
      z-index:100; 
      margin-top:89px;
      background-color: white;
    }
    .description-box {
      width: 100%;
      text-align: center;
      //border: 1px solid #adadad;
      //border-radius: 8px;
      //padding: 2rem 2rem;
      margin-bottom: 1rem;
  }
    
    .search-form {
        width: 100vw;
        border-bottom : 1px solid #DBDBDB;
        position: relative;
        z-index:100; 
        margin-top:105px;
        background-color: white;
       
    }

    .body {
        margin-top: 0px; 
        position:relative;
        background-color: #FBFBFB;
        width: 100%;
        padding-top: 0px; 
    }

    .search-form-group {
        display: flex; 
        justify-content: center; 
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    .search-cat {
        //padding-left: 2rem;
        display: flex;
        justify-content: center;
        padding-top: .5rem;
        border-top: 1px solid #dbdbdb;
        margin-bottom: 0;
        font-size: 18px;
        text-align: center;
    }
    .search-cat-con {
        display: block;
        margin-bottom: .25rem;
    }
    .searchb {
        margin-top: 0;
        padding-top: 20px;
    }
      .descriptionRF {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding: 2rem 1rem;
        margin-left: auto;
        margin-right: auto;
        //width: 90%;
        width: 80%;
        min-height: 75vh;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        border-bottom: 1px solid #DBDBDB;
    }

    .description-box-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
      
      .description-box {
          width: 100%;
          text-align: center;
          //border: 1px solid #adadad;
          //border-radius: 8px;
          //padding: 2rem 2rem;
          margin-bottom: 1rem;
      }


      .extra {
       margin-bottom: 0rem;
    }
    .homepage-subtitle {
        margin-bottom: 1rem;
        font-size:1.1em;
        text-align: center;
      }
      .sponsors {
        width:  150px;
        height: 75px;
        object-fit: scale-down;
        margin-right: 0rem;
      }
    
      .sponsor-icons {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          flex-wrap: wrap;
          margin: 0 auto;
      }
      .sponsor-logos {
        margin-bottom: 4rem;
      }
      .feedback-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
      .feedback-buttons {
        width: 100%;
        padding: .75rem 2rem;
        background-color: #074b69;
        border:none;
        margin-top: 1rem;
      }

      #feedback-right {
        margin-left: 0rem;
      }

      .feedback-rf {
        padding: 4rem 1rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      
      .cat-container {
        border-radius: 8px;
    //color: #074b69;
        border: 1px solid #DBDBDB;
        width: 100%;
        //margin: .5em;
        margin-left: 0;
        padding: 1rem;
      }

      .homeMenuButton {
        width: 100% !important; 
        margin-left: 0;
        margin-top: .75em;
      
      }
      .sponsor-rf {
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        min-height: 50vh;
        border-bottom: 1px solid #DBDBDB;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-bottom: 0;
        justify-content: center;
     
    }
    .sponsor-blurb {
      width: 90%;
      margin: 0 auto;
      margin-top: 3rem;
      font-size: medium;
    }

 
  }
  
  @media only screen and (max-width: 767px) and (min-width: 426px) {
    .sponsor-rf {
      padding-top: 4rem;
      padding-bottom: 4rem;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      min-height: 50vh;
      border-bottom: 1px solid #DBDBDB;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      margin-bottom: 0;
      justify-content: center;
   
  }
    .search-con {
        margin: auto auto;
        //maxWidth: '60em',
        z-index: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        float: right;
        padding-bottom: 3rem;
        min-height: 100vh;
        background-color: #FBFBFB;
    }
    .homepage-form {
      width: 100vw;
      border-bottom : 1px solid #DBDBDB;
      position: absolute;
      z-index:100; 
      margin-top:89px ;
      background-color: white;
    }
    .description-box {
      width: 100%;
      text-align: center;
      border:none;
      //border: 1px solid #adadad;
      //border-radius: 8px;
      padding: 0rem 0rem;
      margin-bottom: 1rem;
  }
    
    .search-form {
        width: 100vw;
        border-bottom : 1px solid #DBDBDB;
        position: relative;
        z-index:100; 
        margin-top:105px;
        background-color: white;
       
    }

    .body {
        margin-top: 0px;
        padding-top: 0px; 
        position:relative;
        background-color: #FBFBFB;
        width: 100%;
        
    }

    .search-form-group {
        display: flex; 
        justify-content: center; 
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    .search-cat {
        //padding-left: 2rem;
        display: flex;
        justify-content: center;
        padding-top: .5rem;
        border-top: 1px solid #dbdbdb;
        margin-bottom: 0;
        font-size: 18px;
        text-align: center;
    }
    .search-cat-con {
        display: block;
        margin-bottom: .25rem;
    }

    .searchb {
        margin-top: 0;
        padding-top: 20px;
    }
    .descriptionRF {
      padding-top: 2rem;
      margin-bottom: 0;
      padding: 4rem 1rem;
      padding-bottom: 4rem;
      margin-left: auto;
      margin-right: auto;
      //width: 90%;
      width: 100%;
      min-height: 75vh;
      border-bottom: 1px solid #DBDBDB;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
  }
    .description-box-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

      .extra {
        margin-bottom: 0rem;
    }
    .homepage-subtitle {
        margin-bottom: 1rem;
        font-size:1.1em;
        text-align: center;
      }
      .sponsors {
        width:  150px;
        height: 75px;
        object-fit: scale-down;
        margin-right: 0rem;
      }
    
      .sponsor-icons {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          flex-wrap: wrap;
      }
      .sponsor-logos {
        margin-bottom: 0rem;
      }
      .feedback-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
      .feedback-buttons {
        width: 100%;
        padding: .75rem 2rem;
        background-color: #074b69;
        border:none;
        margin-top: 1rem;
      }
      .sponsor-blurb {
        width: 90%;
        margin: 0 auto;
        margin-top: 3rem;
        font-size: medium;
      }
    }
  
  
  
  /* Desktop Styles */
  @media only screen and (min-width: 1025px) {
    .menu-title-mobile {
      display: none;
    }
    .search-con {
        margin: auto auto;
        //maxWidth: '60em',
        z-index: 0;
        padding: 0;
        margin: 0;
        width: 75%;
        float: right;
        padding-bottom: 3rem;

        height:100vh;

    }
    
    .search-form {
        width: 75%;
        border-bottom : 1px solid #DBDBDB;
        position:fixed;
        z-index:100; 
        margin-top:92px;
        background-color: white;
       
    }

    .body {
        //margin-top: 192px;
        padding-top: 180px; 
        position:relative;
        background-color: #FBFBFB;
        width: 85%;
        
    }

    .search-form-group {
        display: flex; 
        justify-content: center; 
        margin-top: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .search-cat-con {
        display: none;
    }
    .homepage-form {
        width: 100%;
        border-bottom : 1px solid #DBDBDB;
        position: absolute;
        //height: 100vh;
        //overflow: scroll;
        z-index:0; 
        margin-top:92px;
        background-color: white;
      }
      .descriptionRF {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-height: 85vh;
        border-bottom: 1px solid #DBDBDB;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    }

    .description-box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70% ;
    }

    .top-box {
      width: 70% !important;
      border: none;
      border-bottom: 1px solid #DBDBDB;

    }

    .left-box {
      border-right: 1px solid #DBDBDB;
    }
      
      .description-box {
          width: 100%;
          text-align: center;
          //border: 1px solid #adadad;
          //border-radius: 8px;
          padding: 2rem 2rem;
      }

      .extra {
        //padding-bottom: 4rem;
    }
    .homepage-subtitle {
        text-align: center;
        margin-bottom: 1rem;
        font-size:1.2em;
      }
      .sponsors {
        width:  150px;
        height: 75px;
        object-fit: scale-down;
        margin: 0rem 2rem;
      }
    
      .sponsor-icons {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          margin-left: auto;
          margin-right: auto;
      }
      .sponsor-logos {
        margin-bottom: 4rem;
      }

      .feedback-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .feedback-buttons {
        width: 400px;
        padding: .75rem 2rem;
        background-color: #074b69;
        border:none;
        margin-top: 1rem;
      }

      .mobile-con {
        width: 100%;
        margin: 0 0 ;
        padding-left: 0;
        max-width: inherit;
        padding-right: 0;
      }
      #feedback-right {
        margin-left: 2rem;
      }

      .home-mobile-con {
        overflow-y: scroll;
          position: fixed;
          height: 90%;
      }
      .homepage-subtitle-2 {
        font-size: xx-large;
        margin-bottom: 0;
        text-align: center;
        color: #159a8d;
      }
      .homepage-title {
        text-align: center;
        font-weight: bold;
      font-size: xx-large;
        margin-bottom: 2rem;
    }

    #hero-img {
      padding-right: 0;
      margin-left: 0;
      filter: drop-shadow(1px 3px 5px #888);
      //width: 25%;
      height: 45vh;
    }

    .description-words {
      color: black;
      font-size: 1.2rem;
    }

    .onelineDescription {
      font-size: 1.15em; 
      text-align: center;
    }

    .bottom-word {
      margin-top: 200px;
      margin-bottom: 50px;
    }
    .description-words-container {
      display: flex;
      flex-direction: column;
      //height: 220px;
      width: 15%;
      align-items: center;
      justify-content: space-between;
    }
    .mobile-box-search {
      display: none;
    }

    .desktop-box-search {
      display: block;
    }
    .dwcont {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: space-evenly;
    }

    .sponsor-rf {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-height: 60vh;
        border-bottom: 1px solid #DBDBDB;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
     
    }

    .feedback-rf{
        padding-top: 2rem;
        padding-bottom: 6rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    }

    .sponsor-subtitle {
      padding-top: 2rem;
    }
    .sponsor-blurb {
      width: 75%;
      margin: 0 auto;
      margin-top: 3rem;
      font-size: medium;
    }
  }



.search{
    border-radius: 20px;
    text-align:center;
}

.search {
    border-right:none;
}

.search:focus {
    box-shadow: none;
    border: 3px solid #007bff40;
    border-right: none;
}

.input-group-text {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-left: none !important;
    background: none;
}

.scroll {
    overflow-y: scroll;
}

.search-cat-button {
    border: none;
    background: none;
    color: black;
    font-size: 18px;

}

.search-cat-button:focus {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .search-cat-button:active {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .search-cat-button:active:focus {
    box-shadow: none !important;
    outline: none;
    background: none !important;
    border: none !important;
  }

  .search-cat-button:hover {
    box-shadow: none;
    outline: none;
    background: none !important;
    border: none !important;
  }


 

  

  .feedback-buttons:hover {
      background-color: #053246;
  }

  .feedback-buttons:active {
    background-color: #053246;
}

.feedback-buttons:focus {
    background-color: #053246;
}

  
.home-con {
  margin: auto auto;
  //maxWidth: '60em',
  z-index: 0;
  padding: 0;
  margin: 0;
  //padding-bottom: 3rem;

  height:100vh;
}

.homepage-hero-img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  
}

#gnv {
  color: #1dc2ae;
}



.angle-down {
  display: flex;
  justify-content: center;
  
}


 
.cat-container {
  margin-top: 1rem;
  
}

#how-can-we-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
}







